<link rel="stylesheet" href="/css/homes.css">

<hr class="divider">
<footer">
        <div class="footer">
          <div class="container-fluid">
            <div class="row row-footer">
              <div class="col-xs-10 col-sm-6 mt-4 d-flex justify-content-between">
              
                
        
                  <div class="changing-side">
                   <span class="footer-in-line get"><a id="twitter" class="focusable" href="https://www.twitter.com"data-index="0">
                   <i class="fab fa-twitter"></i></a></span>
                   <span class="footer-in-line get"><a id="facebook" class="focusable" href="https://www.facebook.com"data-index="0">
                   <i class="fab fa-facebook"></i></a></span>
                   <span class="footer-in-line get"><a id="youtube" class="focusable" href="https://www.youtube.com"data-index="0">
                   <i class="fab fa-youtube"></i></a></span>
                   <span class="footer-in-line get"><a id="instagram" class="focusable" href="https://www.instagram.com"data-index="0">
                   <i class="fab fa-instagram"></i></a></span>
                   <span class="footer-in-line get"><a id="whatsapp" class="focusable" href="https://www.whatsapp.com"data-index="0">
                   <i class="fab fa-whatsapp"></i></a></span>
                 </div>
                  
                
                
              </div>
              <div class="col-xs-10 col-sm-6 mt-4 d-flex justify-content-around">
                <div class="back-to-top ">
                  <button class=" btn btn-outline-primary footer-arrow back-to-top">
                  <span class="back"><a href="#"><i class="fas fa-angle-up"></i></a></span>
                </button>
                </div>        
              </div>
            </div>
            <div class="row row-footer">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mt-4">
                <div class="footer-page">
                  <ul class="footer-links">
                    <li><a href="#"data-index="0">Community</a></li>
                    <li><a href="#"data-index="1">Online Services</a></li>
                    <li><a href="#"data-index="2">Product</a></li>
                    <li><a href="#"data-index="3">Ranking Leaderbord</a></li>
                    
                  </ul>
                </div>
              </div>
        
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mt-4">
                  <ul class="footer-links High">
                    <span><a href="#"data-index="4">Academic Partners</a></span>
                    <li><a href="#"data-index="5">Terms and Conditions</a></li>
                    <li><a href="#"data-index="6">About Us</a></li>
                    <li><a href="#"data-index="7">Contact Us</a></li>
                    
                  </ul>
                </div>
                
              
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-4 shift-right">
                  <ul class="footer-links highin">
                    <li><p class="text-center contact-color "><stronge>177 A </stronge><br><em>Bleeker Street</em><br> California USA</p></li>
                    <li><p class="text-center contact-color">mail at :<strong><a href="#">ACIDvs2PL@gmail.com</a></strong></p></li>
                    <li><p class="text-center contact-color">+514256452756,+532452459378</p></li>
                  </ul>
                </div>
              
                
              </div>
              </div>
              
            
            <div class="corner-icon">
              <a href="/user/register"><button type="button" class="btn btn-outline-primary text-center my-4 mx-5" data-toggle="popover"data-container-fluid="body" data-placement="right" title="Sign up here's some amazing content. It's very engaging. check it"data-content="Sign up here's some amazing content. It's very engaging. check it out ">Sign up for visit page</button>
            </a>
            </div>
            <hr class="divide-line">
        
            <div class="copy-right strike">
              <span class="copy-right paragraph">
                  <p><a href="#"><i class="fas fa-copyright"></i></a> In 2020-2021 <a href="#">PC Games</a> Inc. All rights reserved. PC and its logo are Games’s<br> trademarks or registered trademarks in the US and elsewhere.  </p>
                </span>
              </div>
            </div>
          </div>
        
        </div>
</footer>
