<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/productIndex.css">
<nav class=" navbar navbar-expand-md navbar-light bg-transparent">
  <a class="navbar-brand" id="brand" href="/"><i class="fab fa-shopify pr-1"></i><b>Shopify</b></a>
  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <form class="form-inline my-2 my-lg-0">
        <input id="search" name="search" class="form-control mr-sm-2 bg-dark" type="search" placeholder="Search" aria-label="Search"><i class="fas fa-search mr-2"></i>

        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
        </a>
        <div id="dropdown-color" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/farms"><i class="fas fa-store"></i> Store</a>
          <a class="dropdown-item" href="/products"><i class="fab fa-product-hunt"></i> Products</a>
          <a class="dropdown-item" href="/farms/new"><i class="fas fa-plus-circle"></i> Add Store</a>
        </div>
        </li>
        <li class="nav-item" >
          <a class="nav-link" id="navlinks" href="/cart"><i class="fas fa-cart-plus pr-1"></i><b>Cart</b></a>
        </li>
      <% if(!currentUser) { %> 
      <li class="nav-item" >
        <a class="nav-link" id="check-login" href="/user/register"><b>Sign Up</b></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" id="check-login" data-target="#exampleModal" href="/user/login"><b>Login</b></a>
      </li>
      <% }else { %> 
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle"></i>
          </a>
          <div id="dropdown-color" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/farms"><i class="far fa-user-circle"></i> Your Profile</a>
          </div>
          </li> -->
        <li class="nav-item" >
          <a class="nav-link" id="navlinks" href="#"><i class="far fa-user-circle"></i> <b><%= currentUser.username %></b></a>
        </li>
      <li class="nav-item" >
        <a class="nav-link" id="navlinks" href="/user/logout"><i class="fas fa-sign-out-alt"></i></a>
      </li>
      <% } %> 
      <!-- </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>--->
  </div>
</nav>