<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="/css/homes.css">

<div class="header mb-3">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>Starting up </h1><br>
                <p> We’re here to help. Get free education, tips, and <br> inspiration to help you start and grow a successful business. </p>
                <a class="btn add-blog" href="#" style="border-radius: 5px;color: #fff;background-color: rgb(201, 0, 0);">Explore Business</a>
            </div>
            <div class="col-2">
                <img src="https://cdn.shopify.com/s/files/1/0070/7032/files/product-page-increase-conversion.jpg?v=1619700078&width=600" alt="">
            </div>
        </div>
    </div>
</div>

<hr style="background-color:rgb(66, 66, 66);">

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-10">
            <p>
                <span style="color:rgb(158, 158, 158);letter-spacing: 1px;">
                    Use the topic list below to navigate Shopify’s business encyclopedia. From retail and enterprise to branding and entrepreneurship, you’ll find everything you need to know about building a successful business. If you can’t find the topic you’re looking for, use the search bar above for a list of relevant articles.
            </span>
        </p>
        <h5 style="color:rgb(255, 0, 0);letter-spacing: 1px;font-weight: 600;">POPULAR</h5>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-3" style="cursor: pointer; background-color: #bad0de;box-shadow: none;transition: none;transform: none;">
           <h4 class="mt-3 mb-3" style="text-align: center;font-weight: 600;letter-spacing: 1px;">Retail</h4> 
           <p>
               <span style="color:rgb(0, 0, 0);letter-spacing: 1px; text-align: center;">
                A retail sale occurs when a business sells a product or service to an individual consumer for his or her own use.
           </span>
        </p>
           <img src="https://cdn.shopify.com/shopifycloud/brochure/assets/content-marketing/business-encyclopedia/popular/retail@tablet-f5827e004007c8567d03d89142a30f2609741b32e4a1ab3f4809d5c02e4c21b3.jpg" alt="">
        </div>
        <div class="col-3" style="cursor: pointer; background-color: #a29fad;box-shadow: none;transition: none;transform: none;">
           <h4 class="mt-3 mb-3" style="text-align: center;font-weight: 600;letter-spacing: 1px;">Merchandising</h4> 
           <p>
               <span style="color:rgb(0, 0, 0);letter-spacing: 1px; text-align: center;">
                Merchandising is everything you do to promote and sell your products once the potential customer is in your store.
               </span>
           </p>
                      <img src="https://cdn.shopify.com/shopifycloud/brochure/assets/content-marketing/business-encyclopedia/popular/retail@tablet-f5827e004007c8567d03d89142a30f2609741b32e4a1ab3f4809d5c02e4c21b3.jpg" alt="">

        </div>
        <div class="col-3" style="cursor: pointer; background-color: #ffcaca;box-shadow: none;transition: none;transform: none;">
            <h4 class="mt-3 mb-3" style="text-align: center;font-weight: 600;letter-spacing: 1px;">Entrepreneurship</h4>
            <p>
                <span style="color:rgb(0, 0, 0);letter-spacing: 1px; text-align: center;">
                    Entrepreneurship is both the study of how new businesses are created as well as the actual process of starting a new business.                
                </span>
            </p>
                       <img src="https://cdn.shopify.com/shopifycloud/brochure/assets/content-marketing/business-encyclopedia/popular/retail@tablet-f5827e004007c8567d03d89142a30f2609741b32e4a1ab3f4809d5c02e4c21b3.jpg" alt="">
 
        </div>
    </div>
</div>