<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/css/homes.css">


<div class="carousel-category cart-details">
    <table>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th class="ml-5 text-right">Price</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-value">
                        <img src="https://images.unsplash.com/photo-1525092029632-cb75fe5dd776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                        <div>
                            <p>Mac Air 2021</p>
                            <small class="stars">4<i class="fas fa-star ml-1"></i></small>
                            <small class="text-muted">Price $30.99</small><br>
                            <a href="">Remove</a>
                            <a href="">Save for later</a>
                        </div>
                    </div>
            </td>
                <td><input type="number" value="1" ></td>
                <td class="cart-price">$30.99</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-value">
                        <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                        <div>
                            <p>Mac Air 2021</p>
                            <small class="stars">4<i class="fas fa-star ml-1"></i></small>
                            <small class="text-muted">Price $3.99</small><br>
                            <a href="">Remove</a>
                            <a href="">Save for later</a>
                        </div>
                    </div>
            </td>
                <td><input type="number" value="1" ></td>
                <td class="cart-price">$3.99</td>
            </tr>
    </table>
    <h5 class="price-text text-white mt-2">Price Details</h5>
    <div class="cart-total">
        <table>

            <tr>
                <td>Price (2 Items)</td>
                <td>$34.99</td> 
            </tr>
            <tr>
                <td>Discount</td>
                <td>-0$</td>
            </tr>
            <tr>
                <td>Delievery Charges</td>
                <td>Free</td>
            </tr>
            <hr class="divider">
            <tr>
                <td>Total Amount</td>
                <td>$34.99</td>
            </tr>
        </table>
    </div>
    <a href="/checkout" class="btn btn-md btn-btn-danger check-cart mb-5">Proceed To Checkout</a>
</div>