<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/css/help.css">

<div class="container-fluid">
        <h3 class="text-white mt-4 mb-4" style="text-align: center; letter-spacing: 1px;">Start</h3>
        <div class="row mb-3">
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="fas fa-book-open"></i> Intro To Shopify</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Follow One by One step and set your business to Shopify </span></p>
            </div>
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="fas fa-truck-moving"></i> Migrate To Shopify</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Move your store to shopify from amother platform </span></p>

            </div>
        </div>
        <div class="row">
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="fas fa-laptop-code"></i> Shopify Developer</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Follow One by One step and set your business to Shopify </span></p>

            </div>
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="far fa-user-circle"></i> Your Account</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Follow One by One step and set your business to Shopify </span></p>

            </div>
        </div>


        <h3 class="text-white mt-4 mb-4" style="text-align: center; letter-spacing: 1px;">Sell</h3>
        <div class="row mb-3">
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="fas fa-store"></i> Online Store</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Sell Online Through Your Shopify Store </span></p>
            </div>
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="fas fa-credit-card"></i> Buy Button</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Move your store to shopify from amother platform </span></p>

            </div>
        </div>
        <div class="row">
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="fas fa-money-check-alt"></i> Shopify Checkout</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Customize the checkout experience for online customer </span></p>

            </div>
            <div class="col-6 start" style="cursor: pointer;">
                <h5 class="mt-3" style="color: rgb(223, 0, 0); text-align: center;letter-spacing: 1px;"><i class="fas fa-store"></i><i class="fas fa-exclamation"></i> Shopify Exclusive</h5>
                <p class="mb-3" style="text-align: center; color: #fff;"><span>Create Your Unique Store At Shopify</span></p>

            </div>
        </div>

</div>