<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/homes.css">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h1>Mac Pro is Unique <br>A Good Looking Hardware</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Voluptatem est atque, eum nam sed odio placeat </p>
                    <% if(!currentUser) {%>
                    <a class="btn " href="/user/register">Explore Now <i class="fab fa-wpexplorer"></i></a>
                    <% } %> 
                </div>
                <div class="col-2">
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="category">
        <div class="carousel-category">
            <h2 class="featured-title">Featured store</h2>
            <div class="row">
                <div class="col-3">
                    <img src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                </div>
                <div class="col-3">
                    <img src="https://images.unsplash.com/photo-1607326516068-3d45a4292720?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                </div>
                <div class="col-3">
                    <img src="https://images.unsplash.com/photo-1612858249937-1cc0852093dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                </div>
                <div class="col-3">
                    <img src="https://images.unsplash.com/photo-1525092029632-cb75fe5dd776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="carousel-category">
        <h2 class="featured-title">Featured products</h2>
        <div class="row">
            <div class="col-4">
                <img src="https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="">
                <h5>Adidas White Shoes</h5>
                <p>$30.99</p>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1586363090844-099253d6a1cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                <h5>U.S Polo White T-Shirts</h5>
                <p>$40.99</p>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1552895638-f7fe08d2f7d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
                <h5>McDonalds Food</h5>
                <p>$2.99</p>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1566576912321-d58ddd7a6088?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                <h5>Disney Kids Toys</h5>
                <p>$3.99</p>
            </div>
        </div>
        <h2 class="featured-title">Latest products</h2>
        <div class="row">
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1535585209827-a15fcdbc4c2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                <h5>Mani Bamboo Shampoo</h5>
                <div class="star-rating" style="color: #f50606">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$3.99</p>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                <h5>All Stuffed filled Pizza</h5>
                <div class="star-rating" style="color: #f50606">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$3.99</p>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1568378711447-f5eef04d85b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80" alt="">
                <h5>Samsung Galaxy Fold</h5>
                <div class="star-rating" style="color: #f50606">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$1300.99</p>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1604335399105-a0c585fd81a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                <h5>Panasonic Wash Dryer</h5>
                <div class="star-rating" style="color: #f50606">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$700.99</p>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="product-offer">
        <div class="carousel-category">
            <div class="row">
                <div class="col-2">
                    <img class="product-offer-img" src="https://4kwallpapers.com/images/wallpapers/macbook-pro-apple-event-2020-dark-background-2560x2560-3278.jpg" alt="">
                </div>
                <div class="col-2">
                   <p>Exclusive Available on Apple Store</p>
                   <h1>Mac Air</h1>
                   <small>Every Mac comes with a one-year limited warranty and up to 90 days of complimentary technical support. AppleCare+ for Mac extends your coverage to three years from your AppleCare+ purchase date and adds up to two incidents of accidental damage protection every 12 months, each subject to a service fee of ₹8900 for screen damage or external enclosure damage, or ₹25900 for other damage.</small>
                   <br>
                   <button class="btn">Explore Or Buy Now</button>
                </div>
            </div>
        </div>
    </div>

<hr class="divider">

    <div class="user-experience">
        <div class="carousel-category">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sed ducimus animi saepe enim laborum provident doloribus cum deserunt.</p>
                    <div class="star-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <img src="https://www.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg" alt="">
                    <h5>Albus DumbleDore</h5>
                </div>
                <div class="col-3">
                    <i class="fas fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sed ducimus animi saepe enim laborum provident doloribus cum deserunt.</p>
                    <div class="star-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU4isIlWxOex2qVPSF3mvsmsByxC0Mq0U8M_UrwRFPUkSvbbg5geYOxfT--ZfOmlu-Om0&usqp=CAU" alt="">
                    <h5>Peter Parker</h5>
                </div>
                <div class="col-3">
                    <i class="fas fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sed ducimus animi saepe enim laborum provident doloribus cum deserunt.</p>
                    <div class="star-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <img src="https://www.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg" alt="">
                    <h5>Andy William</h5>
                </div>
            </div>
        </div>
    </div>




    <h2 class="featured-title" style="color: #fff;">Frequently Asked Question</h2>
    <div class="mb-2 expand " style="width: 800px;height: 70px;background-color: rgb(48, 48, 48);padding: 18px; margin: 0px auto;">
        <p class="ml-2"><span style="font-size: 25px;color: #fff;font-weight: 600;letter-spacing: 1.5px;">What is Shopify? <span style="float: right;cursor: pointer;"><i class="fas fa-plus explain"></i><i class="fas fa-times close" hidden="" style="color: white;"></i></span></span>
        </p>
    </div>
    <div class="explain-shopify mb-2 " hidden="" style="width: 800px;background-color: rgb(48, 48, 48);padding: 18px; margin: 0px auto;">
        <p>
            <span style="font-size: 25px;color: #fff;font-weight: 600;letter-spacing: 1.5px;">
                Shopify a platform where you build your own store and do business across with the world.
            </span>
    </p>
    </div>



    <div class="mb-2 expand-cost " style="width: 800px;height: 70px;background-color: rgb(48, 48, 48);padding: 18px; margin: 0px auto;">
        <p class="ml-2"><span style="font-size: 25px;color: #fff;font-weight: 600;letter-spacing: 1.5px;">How Much Shopify Store Cost? <span style="float: right;cursor: pointer;"><i class="fas fa-plus explain-cost"></i><i class="fas fa-times close-cost" hidden="" style="color: white;"></i></span></span>
        </p>
    </div>
    <div class="explain-shopify-cost mb-2 " hidden="" style="width: 800px;background-color: rgb(48, 48, 48);padding: 18px; margin: 0px auto;">
        <p>
            <span style="font-size: 25px;color: #fff;font-weight: 600;letter-spacing: 1.5px;">
                You Build Or Create One Store For Multiple You Need To Buy MemberShip At Cost Of $100/month  
            </span>
    </p>
    </div>

    <script>
        const expand = document.querySelector('.expand')
        const explain = document.querySelector('.explain')
        const explainShopify = document.querySelector('.explain-shopify')
        const closes = document.querySelector('.close')

        explain.addEventListener('click', function(){
            explainShopify.removeAttribute('hidden')
            explain.style.display = 'none'
            closes.removeAttribute('hidden')
        })
        closes.addEventListener('click', function(){
            explainShopify.setAttribute('hidden','')
            explain.style.display = 'block'
            closes.setAttribute('hidden','')
        })

        const expandCost = document.querySelector('.expand-cost')
        const explainCost = document.querySelector('.explain-cost')
        const explainShopifyCost = document.querySelector('.explain-shopify-cost')
        const closesCost = document.querySelector('.close-cost')

        explainCost.addEventListener('click', function(){
            explainShopifyCost.removeAttribute('hidden')
            explainCost.style.display = 'none'
            closesCost.removeAttribute('hidden')
        })
        closesCost.addEventListener('click', function(){
            explainShopifyCost.setAttribute('hidden','')
            explainCost.style.display = 'block'
            closesCost.setAttribute('hidden','')
        })

    </script>



    