<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/productsNew.css">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-6">
                <div class="card bg-dark mt-5 p-2" style="border-radius: 10px; box-shadow: 0 0 20px 0px rgba(255,255,255,0.8);">
                        <h2 class="text-center mt-3 text-white">Add Product</h2>
                        <div class="card-body">
                            <form action="/farms/<%= id %>/products " method="POST" enctype="multipart/form-data" class="validCredentials-form" novalidate>
                                <div class="form-group">
                                    <label for="name" class="text-white">Product Name</label>
                                    <input type="text" class="form-control bg-dark text-white" name="name" id="name" placeholder="Mac Air 2021" required>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="text-white">Description</label>
                                    <textarea  class="form-control bg-dark text-white" name="description" id="description" cols="30" rows="4" placeholder="Detailed about Product" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="price" class="text-white">Price</label>
                                    <input type="number" class="form-control bg-dark text-white" min="10" name="price" id="price" placeholder="$ 19.99 " required>
                                </div>
                                <div class="form-group">
                                    <label for="saleprice" class="text-white">Sale Price</label>
                                    <input type="number" class="form-control bg-dark text-white" min="10" name="saleprice" id="saleprice" placeholder="$ 99.99 " required>
                                </div>
                                <div class="form-group">
                                    <label for="category" class="text-white">Category</label>
                                    <select class="form-control text-white bg-dark" name="categories" value="Categories" id="category" style="font-weight:500;letter-spacing: 1px;color: #000;">
                                        <option value="Electronics" style="font-weight:500;letter-spacing: 1px;color: #000;">Electronics</option>
                                        <option value="Fashion" style="font-weight:500;letter-spacing: 1px;color: #000;">Fashion</option>
                                        <option value="Grocery" style="font-weight:500;letter-spacing: 1px;color: #000;">Grocery</option>
                                        <option value="Appliances" style="font-weight:500;letter-spacing: 1px;color: #000;">Appliances</option>
                                        <option value="Mobiles" style="font-weight:500;letter-spacing: 1px;color: #000;">Mobiles</option>
                                        <option value="Toys" style="font-weight:500;letter-spacing: 1px;color: #000;">Toys</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="tag" class="text-white">Tag</label>
                                    <select class="form-control text-white bg-dark" name="tag" value="Tag" id="tag" style="font-weight:500;letter-spacing: 1px;color: #000;">
                                        <option value="T-Shirts" style="font-weight:500;letter-spacing: 1px;color: #000;">T-Shirts</option>
                                        <option value="Jeans" style="font-weight:500;letter-spacing: 1px;color: #000;">Jeans</option>
                                        <option value="Pants" style="font-weight:500;letter-spacing: 1px;color: #000;">Pants</option>
                                        <option value="Cotton" style="font-weight:500;letter-spacing: 1px;color: #000;">Cotton</option>
                                        <option value="Formal" style="font-weight:500;letter-spacing: 1px;color: #000;">Formal</option>
                                        <option value="Trousers" style="font-weight:500;letter-spacing: 1px;color: #000;">Trousers</option>
                                        <option value="E-Gadgets" style="font-weight:500;letter-spacing: 1px;color: #000;">E-Gadgets</option>
                                        <option value="Mob-Acce" style="font-weight:500;letter-spacing: 1px;color: #000;">Mob-Acce</option>
                                        <option value="Food" style="font-weight:500;letter-spacing: 1px;color: #000;">Food</option>
                                        <option value="H-Gadgets" style="font-weight:500;letter-spacing: 1px;color: #000;">H-Gadgets</option>
                                        <option value="B/Kids" style="font-weight:500;letter-spacing: 1px;color: #000;">B/Kids</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="image" class="text-white">Upload Image</label>
                                    <input type="file" class="form-control bg-dark text-white images-valid" accept="image/png, image/jpeg" name="images" id="image" placeholder="product image " required multiple>
                                    <small class="text-white">Users must upload only 5 images.</small>
                                </div>
                                
                                <button class="btn btn-success btn-sm adds-new images-button-valid" disabled="">Submit</button>
                            </form>
                         </div>
                </div>      
            </div>
        </div>
    </div>
    <script>
        const b = document.getElementsByTagName('input')[4];
        const button = document.querySelector('.images-button-valid')
        b.addEventListener('change', function(){
            if(b.files.length == 5){
                button.removeAttribute('disabled')
            }
            else{

            }
        })
    
        
    </script>
    

    