<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/css/podcasts.css">
<div class="container-fluid">
    <div class="row mt-5 ml-4 mb-5">
        <div class="col-6" style="margin: 2px auto;">
            <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/content-marketing/podcasts/shopify-masters-logo-small-dd4d5f1a6f54ecab2ba3bb3b6eacf91774e0e2611038e58f5e077da677e48bfe.jpg" alt="">
            <h4 class="mt-2" style="color: rgb(163, 163, 163);letter-spacing: 1px;">Actionable Strategies and Ecommerce <br> Marketing Advice</h4>
            <p class="mt-2 listenpodcasts " style="color: #fff;letter-spacing: 1px; "><span>Listen Podcasts On:</span></p>
            <p class="master" style="cursor: pointer;"><a href="https://podcasts.apple.com/ca/podcast/shopify-masters/id900763980?mt=2" style="text-decoration: none;color: #fff;"><small>Apple <i class="fas fa-arrow-right listen"></i></small></a>
                <a href="https://soundcloud.com/shopify" style="text-decoration: none;color: #fff;"><small>SoundCloud <i class="fas fa-arrow-right listen"></i></small></a>
                <a href="https://play.google.com/music/listen?u=0#/ps/In7ovd3yp2ywpxrewmo45o4cmya" style="text-decoration: none;color: #fff;"><small>Google Play <i class="fas fa-arrow-right listen"></i></small></a></p>
        </div>
        <div class="col-6" style="margin: 2px auto;">
            <img class="img-fluid" src="https://cdn.shopify.com/shopifycloud/brochure/assets/content-marketing/podcasts/vanguard-logo-small-c9a64db2a8d27dc51a160663ca4db5b1abfcf8b63b8d90ebf9b74ed8a4494c56.jpg" alt="">
            <h4 class="mt-2" style="color: rgb(163, 163, 163);letter-spacing: 1px;">How unexplored communities and <br> unexpected subcultures make money.</h4>
            <p class="mt-2 listenpodcasts " style="color: #fff;letter-spacing: 1px; "><span>Listen Podcasts On:</span></p>
            <p class="main" style="cursor: pointer;"><a href="https://itunes.apple.com/ca/podcast/vanguard-by-shopify-studios/id1437172914?mt=2" style="text-decoration: none;color: #fff;"><small>Apple <i class="fas fa-arrow-right listens"></i></small></a>
                <a href="https://open.spotify.com/show/2wKQTaWXIXg5NqZDjYEDDP" style="text-decoration: none;color: #fff;"><small >Spotify <i class="fas fa-arrow-right listens"></i></small></a>
                <a href="https://play.google.com/music/listen?u=0#/ps/Ir4z636ybycyjkzfvuu556opqmm" style="text-decoration: none;color: #fff;"><small >Google Play <i class="fas fa-arrow-right listens"></i></small></a></p>

        </div>
    </div>
</div>

