<% layout('./layouts/boilerplate') %>
<style>
    li{
        list-style-type: none;
        margin-left: 1.5em;
    }
    .privacy-inner{
        margin-left: 1.5em;
        color: #f50606;
        letter-spacing: 1px;
    }
    .col-md-12{
        background-color: rgb(44, 44, 44);
        border-radius: 3px;
    }
    .privacy-inner-text{
        color: #fff;
        letter-spacing: 1px;
    }
    .p-text{
        color: #f50606;
        letter-spacing: 1px;
    }
    .i1{
        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
    }
    .i2{
        position: absolute; 
        right: 0;
        top: 0; 
        transform: rotate(90deg);
        width: 45px;
    }
    .i3{
        position: absolute;
        left: 0;
        bottom: 0; 
        transform: rotate(-90deg);
        width: 45px;
    }
    .i4{
        position: absolute; 
        right: 0;
        bottom: 0; 
        transform: rotate(180deg);
        width: 45px;
    }
</style>


<div class="container-fluid mt-5">
    <h3 class="text-center text-white mb-2"><i class="far fa-file-alt p-text"></i> Privacy Policy</h3>
    <div class="row mb-5">
        <div class="col-md-12">
            <img class="i1" src="https://termify.io/assets/img/certificate-side.svg" alt="" >
            <img class="i2" src="https://termify.io/assets/img/certificate-side.svg" alt="" >
            <img class="i3" src="https://termify.io/assets/img/certificate-side.svg" alt="" >
            <img class="i4" src="https://termify.io/assets/img/certificate-side.svg" alt="" >


            <p class="my-5 mx-4">
                <span class="p-text">Generic Privacy Policy</span><br> 
                <span class="privacy-inner-text">Last Updated On - 06/07/2021</span><br>
                <span class="privacy-inner-text">
                    E-Shop. ("we," "our,"or"us") is committed to protecting your privacy. This Privacy Policy.
                    explains how your personal information is collected, used, and disclosed by E-Shop. This 
                    Privacy Policy applies to pour website, https://tranquil-atoll-69691.herokuapp.com/ , And
                    its associated subdomains (collectively, our "service"). By accessing or using our Service, 
                    you signifies that you have read, understood, and agree to our collection, storage, use and disclosure
                    of personal information as described in this Privacy Policy and our Terms of Service.
                </span><br>
                <p style="display: none;"></p>
                <span class="privacy-inner">Information Collection And Use</span>
                <span class="privacy-inner-text">
                    <li>
                        While using our Site, we may ask you to provide us with certain personally identifiable information
                        that can be used to contact or identify you.
                    </li>
                    <li>
                        Personally identifiable information may include, but is not
                        limited to your name ("Personal Information").
                    </li>
                </span><br>
                <span class="privacy-inner">Log Data</span>
                <span class="privacy-inner-text"><br>
                    <li>
                        Like many site operators, we collect information that your browser sends whenever you visit our Site
                        ("Log Data").
                    </li>
                    <li>
                        This Log Data may include information such as your computer's Internet Protocol ("IP") address,
                        browser type, browser version, the pages of our Site that you visit, the time and date of your visit,
                        the time spent on those pages and other statistics.
                    </li>
                    <li>
                        In addition, we may use third party services such as Google Analytics that collect, monitor and
                        analyze this …
                    </li>
                    <li>
                        The Log Data section is for businesses that use analytics or tracking services in websites or
                        apps, like Google Analytics.
                    </li>
                </span><br>
                <span class="privacy-inner">Communications</span>
                <span class="privacy-inner-text">
                    <li>
                        We may use your Personal Information to contact you with newsletters, marketing or promotional
                        materials and other information that ...
                    </li>
                    <li>
                        The Communications section is for businesses that may contact users via email (email
                        newsletters) or other methods.
                    </li>
                </span><br>
                <span class="privacy-inner">Cookies</span>
                <span class="privacy-inner-text">
                    <li>
                        Cookies are files with small amount of data, which may include an anonymous unique identifier.
                    </li>
                    <li>
                        Cookies are sent to your browser from a web site and stored on your computer's hard drive.
                    </li>
                    <li>
                        Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all
                        cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may
                        not be able to use some portions of our Site.
                    </li>
                </span><br>
                <span class="privacy-inner">Security</span>
                <span class="privacy-inner-text">
                    <li>
                        The security of your Personal Information is important to us, but remember that no method of
                        transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to
                        use commercially acceptable means to protect your Personal Information, we cannot guarantee its
                        absolute security.
                    </li>
                </span><br>
                <span class="privacy-inner">
                    <p class="ml-4">We reserve the right to update or change our Privacy Policy at any time and you should check this
                    Privacy Policy periodically.
                    Your continued use of the Service after we post any modifications to the
                    Privacy Policy on this page will constitute your acknowledgment of the modifications and your
                    consent to abide and be bound by the modified Privacy Policy.</p>
                    <p class="ml-4"> If we make any material changes to this Privacy Policy, we will notify you either through the email
                    address you have provided us, or by placing a prominent notice on our website.
                    Contact Us
                    If you have any questions about this Privacy Policy, please contact us. <i class="fas fa-quote-right" style="color: #f50606;"></i>
                    </p>
                </span><br>
            </p>
        </div>
    </div>
</div> 