<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/forgot.css">
<div class="row">
	<div class="col-md-6">
		<form action="/user/reset/<%= token %>" method="POST" class="validCredentials-form" novalidate>
			<legend class="text-white mt-5">Reset Password</legend>
			<div class="form-group">
			  <label for="password" class="text-white">New Password</label>
			  <input type="password" name="password" value="" maxlength="6" placeholder="New password" autofocus="autofocus" class="form-control" required/>
			</div>
			<div class="form-group">
			  <label for="confirm" class="text-white">Confirm Password</label>
			  <input type="password" name="confirm" value="" maxlength="6" placeholder="Confirm password" class="form-control" required/>
			</div>
			<div class="form-group">
			  <button class="btn btn-sm btn btn-danger reset" disabled="">Update Password</button>
			</div>
		  </form>
	</div>
</div>


<script>
	const passInputs = document.getElementsByTagName('input')[2];
    const btReset = document.querySelector('.reset');
    passInputs.addEventListener('input', function(){
        if(passInputs.value.length == 6){
            btReset.removeAttribute('disabled');
        }
        else{

        }
    })
</script>
		
