.col-sm-4 .save{
        color: #fff;
        border-radius: 2px;
        background-color: rgb(158, 5, 0);
        border: none;
}

.col-md-6 .save{
    color: #fff;
    border-radius: 2px;
    background-color: rgb(158, 5, 0);
    border: none;
}
/*     
    .product-row .delete-products a{
        color: #fff;
        text-decoration: none;
    }
     */
.col-md-6 .save:hover{
        color: #fff;
        background-color: rgb(158, 5, 0);
        border: none;
}

.col-sm-4 .save:hover{
    color: #fff;
    background-color: rgb(158, 5, 0);
    border: none;
}

@media only screen and (max-width: 720px){
    .col-sm-4 label{ 
        float: left;
    }
    .col-md-6 label{
        float: left;
    }
}