.col-md-6 .reset{
    color: #fff;
    border-radius: 2px;
    background-color: rgb(151, 0, 0);
    border: none;
}

.col-md-6 .reset:hover{
    color: #fff;
    border-radius: 2px;
    background-color: rgb(151, 0, 0);
    border: none;
}

@media only screen and (max-width: 720px){
    .col-md-6 label{
        float: left;
    }
    .col-md-6 legend{
        text-align: left;
    }
    .col-md-6 .reset{
        float: left;
    }
}