*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#shopify-loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: transparent url('https://image.flaticon.com/icons/png/64/3082/3082031.png')
     no-repeat center;
    z-index: 9999;
    transform: rotate(360deg);
    animation: 1050ms cartAnimation ease-in-out infinite;
}

@keyframes cartAnimation {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
/* #mainnav{
    background-color: #9e0101;
} */

body{
    background: black;
}

#brand{
    color: #f50606;
}

/* .nav-item .signup-btn{
    color: #fff;
    border-radius: 2px;
    padding: 0px;
    margin-top: 0px;
    border: none;
    background-color: rgb(158, 13, 3);
}

.nav-item .signup-btn a {
    color: #fff;
    text-decoration: none;
}

.nav-item .signup-btn:hover{
    color: #fff;
    border-radius: 2px;
    border: none;
    background-color: rgb(158, 13, 3);;
}
.nav-item .login-btn{
    color: #fff;
    border-radius: 2px;
    padding: 0px;
    margin-top: 0px;
    border: none;
    background-color: rgb(158, 13, 3);
}

.nav-item .login-btn a {
    color: #fff;
    text-decoration: none;
}

.nav-item .login-btn:hover{
    color: #fff;
    border-radius: 2px;
    border: none;
    background-color: rgb(158, 13, 3);
}
         */

#navlinks{
    color: rgb(255, 255, 255);
}

#navlinks:hover{
    border-bottom: 2px solid #f50606;
}

input[type="search"]{
    background: black;
    border-radius: 30px;
}

#dropdown-color{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    /* background: black; */
}

#dropdown-color .dropdown-item{
    font-weight: bold;
    color: rgb(0, 0, 0);
    /* background-color: black; */
}

#dropdown-color .dropdown-item:hover{
    font-weight: bold;
    border-left: 3px solid #f50606;
}

.dropdown, .dropdown-menu:hover{
    display: block;
}



@media only screen and (max-width: 720px){
    #dropdown-color .dropdown-item{
        width: 50%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        /* background-color: black; */
    }
    #dropdown-color .dropdown-item:hover{
        width: 50%;
        font-weight: bold;
        border-left: 3px solid #f50606;
    }
}