input[type="number"]:focus{
    outline: none;
}
input[type="number"]{
    font-weight: 500;
    background: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
}

.Correctcard{
    display:none;
    color:rgb(4, 252, 4);
    font-weight: 600;
    letter-spacing: 1px;
}

.Errorcard{
    display: none;
    color: #ff0000;
    font-weight: 600;
    letter-spacing: 1px;
}


