
.page_404{
    margin: 30px auto;
    width: 100%;
    background-image: url('https://kfg6bckb.media.zestyio.com/yalantis-interactive-404.gif');
    height: 400px;
    background-position: center;
}
