.modal-login img{
    width: 50%;
}

#exampleModalLabel{
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.modal-login{
    color:#fff;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.modal-header{
    text-align: center;
    border-bottom:none;
}

.modal-login label{
    margin-top: 2px;
    color: rgb(184, 180, 180);
    font-size: 15px;
}

.modal-login .checks{
    margin-top: 1px;
    background: #f50606;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
    color: #fff;
}
.modal-login .checks:hover{
    margin-top: 1px;
    background: #f50606;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
    color: #fff;
}

.text{
    display: flex;
    text-align: center;
    justify-content: center;

}

.modal-login input{
    border-radius: 10px;
}



.modal-login .create{
    margin-top: 2px;
    font-weight: 600;
    border-radius: 2px;
    background:rgb(88, 88, 84);
    border: none;
    color: rgb(228, 228, 228);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
}

.modal-login .create a{
    letter-spacing: 1.5px;
    font-weight: normal;
    color: rgb(248, 248, 248);
}
.modal-login .create:hover{
    margin-top: 2px;
    font-weight: 600;
    border-radius: 2px;
    background: rgb(88, 88, 84);
    border: none;
    color: rgb(228, 228, 228);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
}
.modal-login small a{
    color: #fff;
}

.modal-login small a:hover{
    color: rgb(151, 0, 0);
    text-decoration: underline;
}

.modal-login small a:hover{
    color: rgb(151, 0, 0);
    text-decoration: underline;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    transform: scale(0);
    transition: ease-out 0.3s;
}
.dropdown:hover .dropdown-menu {
    transform: translateX(-50px);
}




/* .close-modal{
    color: #fff;
    margin-left: 430px;
    font-size: 50px;
} */
/* .modal-header{
    transform: translateX(45px);
} */
/* .modal-login input{
    border-radius: 20px;
}

.col-3 {
    float: right;
    width: 50%;
}

.modal-content{
    margin-top: 70px;
    background-color: rgb(45, 140, 255);
    width: 100%;
}
.modal-header{
    text-decoration: none;
} */

#check-login{
    /* background-color: #000; */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 2px;
}

#check-login:hover{
    border-bottom: 2px solid #f50606;
}

@media only screen and (max-width: 720px) {
    .navbar-nav > li > .dropdown-menu {
        margin-top: 0;
        width: 50%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: block;
        transform: scale(0);
        transition: ease-out 0.3s;
    }
    .dropdown:hover .dropdown-menu {
        transform: none;
    }
    
}