<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://kit.fontawesome.com/b18fc4a9f4.js" crossorigin="anonymous"></script>

</head>
<body style="background-color: black;">
    <div class="container-fluid">
        <div class="ui inverted segment" style="margin: 0px auto; border-radius: 0px;">
            <div class="ui inverted secondary pointing menu">
              <a class="item">
                <h3>Amazon-red-forest</h3>
              </a>
              <a class="item" >
               <h3> Products</h3>
              </a>
              <a class="item">
               <h3> Learn</h3>
              </a>
              <div class="ui inverted secondary pointing menu" style="margin-left: auto;">
                <a class="item">
                  <h3> User</h3>
                 </a>
              </div>
              
            </div>
          </div>
        
        
    </div>

      <div class="ui stackable two column grid" style="margin: 40px 40px;">
        <div class="column">
<img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">

        </div>
        <div class="column" style="margin: 50px auto ; color: #fff;">
          <h3>Image with text</h3>
           <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>
          </div>
      </div>

      <div class="ui stackable three column grid" style="margin: 50px 40px;">
        <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Image with text</h3>
           <p style="margin: 10px auto ; color: #fff;">Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>
          </div> 
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Image with text</h3>
          <p style="margin: 10px auto ; color: #fff;">Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>
        </div>
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Image with text</h3>
          <p style="margin: 10px auto ; color: #fff;">Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>
        </div>
      </div>
      
      <h2 class="" style="color: #f50606; margin: 30px 40px; text-align: center; letter-spacing: 1px; ">FEATURED COLLECTION</h2>

      <div class="ui stackable four column grid" style="margin: 50px 40px;">
        <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
           <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
          </div> 
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
          <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
        </div>
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
          <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
        </div>
        <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
           <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
          </div> 
      </div>
      <div class="ui stackable four column grid" style="margin: 50px 40px;">
        <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
           <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
          </div> 
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
          <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
        </div>
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
          <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
        </div>
        <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
           <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
          </div> 
      </div>
      <h2 class="" style="color: #f50606; margin: 30px 40px; text-align: center; letter-spacing: 1px; ">CUSTOMER REVIEWS</h2>

      <div class="ui stackable three column grid" style="margin: 20px 40px;">
        <div class="column" style="margin: 10px auto ; color: #fff; text-align: center;">
        <i class="fas fa-quote-left" style="color: #f50606;"></i>
          <h4 style="color: #fff; text-align: center; font-weight: 600; letter-spacing: 1px;">Add customer reviews and testimonials <br> to showcase your store’s</h4>
          <span style="text-align: right; color: #fff;">- User name</span>
        </div>
        <div class="column" style="margin: 10px auto ; color: #fff; text-align: center;">
        <i class="fas fa-quote-left" style="color: #f50606;"></i>
          <h4 style="color: #fff; text-align: center; font-weight: 600; letter-spacing: 1px;">Add customer reviews and testimonials <br> to showcase your store’s</h4>
          <span style="text-align: right; color: #fff;">- User name</span>
        </div>
        <div class="column" style="margin: 10px auto ; color: #fff; text-align: center;">
        <i class="fas fa-quote-left" style="color: #f50606;"></i>
          <h4 style="color: #fff; text-align: center; font-weight: 600; letter-spacing: 1px;">Add customer reviews and testimonials <br> to showcase your store’s</h4>
          <span style="text-align: right; color: #fff;">- User name</span>
          </div>
      </div>

      <hr style="color: #fff; background-color: #fff; margin: 40px 40px;">

      <h4 style="color: #fff; margin: 10px 40px;">News Letter</h4>
      <div class="ui action input" style="margin: 10px 40px; color: #fff;">
        
        <input type="email" id="search" placeholder="Email Address">
        <button class="ui button" style="color: #fff; background-color: #f50606;">Subscribe</button>
      </div>
      <div style="color: #fff; margin: 5px 40px; text-align: right;">
        <i class="fas fa-copyright" style="color: #fff"></i><a href="#" style="color: #ffffff;"> Amazon-red-forest</a> Powered by <a href="/" style="color: #f50606;"> Shopify</a>
      </div>
      <hr style="color: #fff; background-color: rgb(156, 151, 151); margin: 40px 40px;">
</body>
</html>